In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pizarro,CO,2022-02-04 16:06:18,4.9533,-77.3660,80.24,81,25,6.11
1,1,Pilar,BR,2022-02-04 16:06:19,-9.5972,-35.9567,87.73,47,41,13.35
2,2,Rikitea,PF,2022-02-04 16:06:19,-23.1203,-134.9692,77.97,72,97,11.07
3,3,Upata,VE,2022-02-04 16:06:19,8.0086,-62.3989,80.19,51,85,5.79
4,4,Busselton,AU,2022-02-04 16:06:20,-33.6500,115.3333,73.09,73,0,6.46

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Clouds of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Wind of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pizarro,CO,2022-02-04 16:06:18,4.9533,-77.3660,80.24,81,25,6.11
1,1,Pilar,BR,2022-02-04 16:06:19,-9.5972,-35.9567,87.73,47,41,13.35
2,2,Rikitea,PF,2022-02-04 16:06:19,-23.1203,-134.9692,77.97,72,97,11.07
3,3,Upata,VE,2022-02-04 16:06:19,8.0086,-62.3989,80.19,51,85,5.79
10,10,Arraial Do Cabo,BR,2022-02-04 16:06:22,-22.9661,-42.0278,82.26,74,40,17.27
13,13,Tessalit,ML,2022-02-04 16:06:22,20.1986,1.0114,78.30,7,0,15.61
17,17,Nabire,ID,2022-02-04 16:06:24,-3.3667,135.4833,76.26,91,97,2.15
18,18,Iquitos,PE,2022-02-04 16:05:09,-3.7481,-73.2472,80.64,78,75,2.30
21,21,Kerema,PG,2022-02-04 16:06:25,-7.9631,145.7785,76.59,90,98,9.46
22,22,Puerto Ayora,EC,2022-02-04 16:06:25,-0.7393,-90.3518,78.76,87,33,5.01

In [23]:
preferred_cities_df.count()

City_ID       177
City          177
Country       174
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Pizarro      CO     80.24   4.9533  -77.3660
1             Pilar      BR     87.73  -9.5972  -35.9567
2           Rikitea      PF     77.97 -23.1203 -134.9692
3             Upata      VE     80.19   8.0086  -62.3989
10  Arraial Do Cabo      BR     82.26 -22.9661  -42.0278
13         Tessalit      ML     78.30  20.1986    1.0114
17           Nabire      ID     76.26  -3.3667  135.4833
18          Iquitos      PE     80.64  -3.7481  -73.2472
21           Kerema      PG     76.59  -7.9631  145.7785
22     Puerto Ayora      EC     78.76  -0.7393  -90.3518

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Pizarro,CO,80.24,4.9533,-77.3660,Hotel Limonar
1,Pilar,BR,87.73,-9.5972,-35.9567,Pousada e churrascaria Manguaba
2,Rikitea,PF,77.97,-23.1203,-134.9692,People ThankYou
3,Upata,VE,80.19,8.0086,-62.3989,Posada Villa Nela
10,Arraial Do Cabo,BR,82.26,-22.9661,-42.0278,Pousada Porto Praia
13,Tessalit,ML,78.30,20.1986,1.0114,
17,Nabire,ID,76.26,-3.3667,135.4833,Hotel Nusantara Nabire
18,Iquitos,PE,80.64,-3.7481,-73.2472,Cortez Malaga Techy Caroly
21,Kerema,PG,76.59,-7.9631,145.7785,Frena Lodge
22,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))