In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [2]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [6]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=2000)
lngs = np.random.uniform(low=-180.000, high=180.000, size=2000)
lat_lngs = zip(lats, lngs)
lat_lngs

In [7]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [8]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

45

In [9]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [10]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_current_description = city_weather["weather"][0]["description"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date,
                          "Current Description": city_current_description})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | hithadhoo
Processing Record 2 of Set 1 | bambous virieux
Processing Record 3 of Set 1 | rikitea
Processing Record 4 of Set 1 | ushuaia
Processing Record 5 of Set 1 | cherskiy
Processing Record 6 of Set 1 | atuona
Processing Record 7 of Set 1 | sibu
Processing Record 8 of Set 1 | bengkulu
Processing Record 9 of Set 1 | port hedland
Processing Record 10 of Set 1 | attawapiskat
City not found. Skipping...
Processing Record 11 of Set 1 | amderma
City not found. Skipping...
Processing Record 12 of Set 1 | faanui
Processing Record 13 of Set 1 | kaoma
Processing Record 14 of Set 1 | hobart
Processing Record 15 of Set 1 | dikson
Processing Record 16 of Set 1 | punta arenas
Processing Record 17 of Set 1 | flinders
Processing Record 18 of Set 1 | thompson
Processing Record 19 of Set 1 | bilma
Processing Record 20 of Set 1 | kodiak
Processing Record 21 of Set 1 | busselton
Processing Record 22 of Set 1 | severo-kurilsk
Processing Record 23 of Set 1 | kuching
Processing Record 24 of Set 1 | vila velha
Processing Record 25 of Set 1 | cuiluan
Processing Record 26 of Set 1 | geraldton
Processing Record 27 of Set 1 | talnakh
Processing Record 28 of Set 1 | wilmington
Processing Record 29 of Set 1 | dicabisagan
Processing Record 30 of Set 1 | bako
Processing Record 31 of Set 1 | cabo san lucas
Processing Record 32 of Set 1 | nanortalik
Processing Record 33 of Set 1 | suntar
Processing Record 34 of Set 1 | batagay-alyta
Processing Record 35 of Set 1 | longyearbyen
Processing Record 36 of Set 1 | norman wells
Processing Record 37 of Set 1 | nipawin
Processing Record 38 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 39 of Set 1 | kapaa
Processing Record 40 of Set 1 | saskylakh
Processing Record 41 of Set 1 | belushya guba
City not found. Skipping...
Processing Record 42 of Set 1 | sumbawa
City not found. Skipping...
Processing Record 43 of Set 1 | stromness
Processing Record 44 of Set 1 | capela do alto
Processing Record 45 of Set 1 | cayenne
-----------------------------
Data Retrieval Complete
-----------------------------

In [11]:
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,Hithadhoo,-0.6000,73.0833,81.54,74,80,11.81,MV,2022-02-04 22:20:17,broken clouds
1,Bambous Virieux,-20.3428,57.7575,79.21,89,75,16.11,MU,2022-02-04 22:20:17,light rain
2,Rikitea,-23.1203,-134.9692,78.44,71,12,7.72,PF,2022-02-04 22:16:13,light rain
3,Ushuaia,-54.8000,-68.3000,53.26,54,0,17.27,AR,2022-02-04 22:17:11,clear sky
4,Cherskiy,68.7500,161.3000,-34.80,98,13,3.98,RU,2022-02-04 22:17:41,few clouds
5,Atuona,-9.8000,-139.0333,78.76,77,25,17.27,PF,2022-02-04 22:20:18,light rain
6,Sibu,2.3000,111.8167,75.51,94,40,2.30,MY,2022-02-04 22:20:18,scattered clouds
7,Bengkulu,-3.8004,102.2655,73.02,95,100,5.17,ID,2022-02-04 22:20:18,light rain
8,Port Hedland,-20.3167,118.5667,84.25,84,100,3.44,AU,2022-02-04 22:20:18,overcast clouds
9,Faanui,-16.4833,-151.7500,80.62,75,26,14.32,PF,2022-02-04 22:20:19,scattered clouds

In [12]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Current Description"]

In [13]:
city_data_df = city_data_df[new_column_order]
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hithadhoo,MV,2022-02-04 22:20:17,-0.6000,73.0833,81.54,74,80,11.81,broken clouds
1,Bambous Virieux,MU,2022-02-04 22:20:17,-20.3428,57.7575,79.21,89,75,16.11,light rain
2,Rikitea,PF,2022-02-04 22:16:13,-23.1203,-134.9692,78.44,71,12,7.72,light rain
3,Ushuaia,AR,2022-02-04 22:17:11,-54.8000,-68.3000,53.26,54,0,17.27,clear sky
4,Cherskiy,RU,2022-02-04 22:17:41,68.7500,161.3000,-34.80,98,13,3.98,few clouds

In [15]:
# Create the output file (CSV).
output_data_file = "Weather_Database/WeatherPy_Database.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")